.container {
  background: var(--background-secondary);
  border-radius: 0.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  padding: 1.25rem;
  text-decoration: none;

  &:hover {
    background: var(--primary-color);
  }

  span {
    font-size: 1.25rem;
    color: var(--text-primary);
    font-weight: 500;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
