.container {
  position: relative;
}

.select {
  background: var(--background-secondary);
  color: var(--text-primary);
  font-size: 1.35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 24rem;
  height: 4.4rem;
  border-radius: 0.25rem;
  padding: 0 1.6rem;
  cursor: pointer;
  position: relative;

  svg {
    transition: transform 0.25s ease-in-out;
  }
}

.rotate {
  svg {
    transform: rotate(180deg);
  }
}

.option_group {
  position: absolute;
  margin-top: 0.8rem;
  display: none;
  flex-direction: column;
  background: var(--background-secondary);
  width: 24rem;
  border-radius: 0.25rem;
  padding: 0.8rem 0;
  z-index: 5;
  transition: 0.25s ease-in-out;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.option {
  padding: 0.8rem 1.6rem;
  font-size: 1.35rem;
  color: var(--text-primary);
  text-decoration: none;
  transition: color 0.25s ease-in-out;

  &:hover {
    color: var(--text-secondary);
  }
}

.dropdown_open {
  display: flex;
}
