.container {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background 0.3s ease-in-out;

    &:hover {
      background: var(--primary-color);
    }
  }

  a.selected {
    background: var(--primary-color);
  }
}

.navbar {
  position: fixed;
  bottom: 1rem;
  background: #2c3a47;
  z-index: 10;
  border-radius: 0.3rem;
  padding: 1.4rem 3rem;
  display: flex;
  align-items: center;
  gap: 2.2rem;
}
