.container {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
      background: var(--primary-color);
      box-shadow: 0 0 14px var(--primary-color-hover);
    }
  }

  a.selected {
    background: var(--primary-color);
  }
}

.navbar {
  position: fixed;
  bottom: 1rem;
  z-index: 10;
  border-radius: 0.6rem;
  padding: 1.4rem 3rem;
  display: flex;
  align-items: center;
  gap: 2.2rem;
  backdrop-filter: blur(16px);
  background: rgba(44, 58, 71, 0.75);
}
