.container {
  display: flex;
  flex-direction: column;
}

.project-image-wrapper {
  a {
    display: flex;
  }
}

.project-details-body {
  padding: 1.6rem;

  > span {
    font-size: 1.4rem;
    color: var(--text-secondary);
    display: block;
    margin-bottom: 1.2rem;
  }

  > p {
    font-size: 1.4rem;
    color: var(--text-secondary);
    margin: 1.6rem 0;
  }
}

.project-technologies {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;

  span {
    padding: 0.6rem 1rem;
    border-radius: 4px;
    font-size: 1.15rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--text-primary);
    background: var(--background-secondary);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.project-external-links {
  display: flex;
  gap: 0.8rem;

  a {
    text-decoration: none;

    button {
      background: 0;
      outline: 0;
      border: 0;
      border-radius: 4px;
      padding: 0.8rem 1.2rem;
      background: var(--primary-color);
      color: var(--text-white);
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.8rem;
      text-decoration: none;
      font-size: 1.2rem;

      &:hover {
        background: var(--primary-color-hover);
      }
    }
  }
}
