.container {
  min-height: calc(100vh - 81px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  animation: fadeDown ease-out 0.75s;
  margin-bottom: 81px;

  h1 {
    color: var(--text-primary);
    font-size: 2.4rem;
    text-align: center;
    margin: 0;
  }

  span {
    color: var(--text-secondary);
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
    margin: 0;
    margin-top: -0.6rem;
  }

  a {
    border: 0;
    outline: 0;
    height: 4.4rem;
    padding: 0 2.2rem;
    border-radius: 0.25rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-white);
    background: var(--primary-color);
    cursor: pointer;

    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: var(--primary-color-hover);
    }
  }
}

.image {
  background: var(--primary-color);
  height: 16.5rem;
  width: 16.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    background: var(--background-secondary);
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  a {
    height: 4rem;
    width: 4rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-secondary);
    color: var(--primary-color);

    &:hover {
      background: var(--primary-color);
      color: var(--text-white);
    }
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-24px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
