.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  animation: fadeDown ease-out 1.25s;

  h1 {
    color: var(--text-primary);
    font-size: 2.4rem;
  }

  span {
    color: var(--text-primary);
    font-size: 1.8rem;
  }

  a {
    border: 0;
    outline: 0;
    height: 4.4rem;
    padding: 0 2.2rem;
    border-radius: 0.25rem;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 0.8rem;
    color: var(--text-primary);
    background: var(--primary-color);
    transition: background 0.25s ease-in-out;
    cursor: pointer;

    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: var(--primary-color-hover);
    }
  }
}

.image {
  height: 16.5rem;
  width: 16.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, var(--primary-color) 50%, transparent 50%);

  img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
  }
}

.social,
.scroll {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  animation: fadeUp ease-out 1.25s;

  &::after {
    content: "";
    width: 0.2rem;
    height: 5rem;
    background: var(--primary-color);
  }
}

.social {
  left: 0;

  a {
    height: 4rem;
    width: 4rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-secondary);
    color: var(--primary-color);
    transition: 0.25s ease-in-out;

    &:hover {
      background: var(--primary-color);
      color: var(--text-primary);
    }
  }
}

.scroll {
  right: 0;

  a {
    writing-mode: vertical-rl;
    width: 4rem;
    padding: 0.5rem;
    font-size: 1.45rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    color: var(--primary-color);
    font-weight: 500;
    transition: color 0.25s ease-in-out;

    &:hover {
      color: var(--primary-color-hover);
    }
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-110px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(110px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}