.container {
  scroll-margin-top: var(--header-height);
  height: calc(100dvh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  margin-bottom: var(--header-height);

  h1 {
    color: var(--text-primary);
    font-size: 2.4rem;
    text-align: center;
    margin: 0;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 0.75s forwards;
  }

  span {
    color: var(--text-secondary);
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
    margin: 0;
    margin-top: -0.6rem;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 1.25s forwards;
  }

  > a {
    border: 0;
    outline: 0;
    height: 4.4rem;
    padding: 0 2.2rem;
    border-radius: 0.25rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-white);
    background: var(--primary-color);
    cursor: pointer;

    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 3.25s forwards;

    margin-top: 0.6rem;

    &:hover {
      background: var(--primary-color-hover);
    }
  }
}

.image {
  background: var(--background-tertiary);
  height: 16.5rem;
  width: 16.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 0.25s forwards;

  img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    background: var(--background-secondary);
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  a {
    height: 4rem;
    width: 4rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-secondary);
    color: var(--primary-color);

    opacity: 0;
    animation: leftToRight 0.5s ease forwards;

    &:hover {
      background: var(--primary-color);
      color: var(--text-white);
    }

    &:nth-child(1) {
      animation-delay: 1.75s;
    }

    &:nth-child(2) {
      animation-delay: 2.25s;
    }

    &:nth-child(3) {
      animation-delay: 2.75s;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes revealText {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes leftToRight {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
