.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;

  height: calc(100vh - 34.8rem);

  h1 {
    color: var(--text-secondary);
    font-weight: 400;
    font-size: 1.50rem;
    text-align: center;
  }
}

.image {
  img {
    width: 100%;
    max-width: 35rem;
    height: auto;
  }
}

@media (max-width: 365px) {
  .container {
    height: calc(100vh - 367.97px);
  }
}