* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-primary: #161616;
  --background-secondary: #20242C;
  --text-primary: #FFFFFF;
  --text-secondary: #d1d5db;
  --primary-color: #6d79ff;
  --primary-color-hover: #7d88ff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
input,
button,
textarea {
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--background-primary);
}

@media (max-width: 475px) {
  html {
    font-size: 50%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
  background: var(--background-secondary);
}
