* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-primary: #151b28;
  --background-secondary: #293140;
  --text-primary: #f0f0f5;
  --text-secondary: #cccccc;
  --primary-color: #6673d7;
  --primary-color-hover: #7a86dd;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
input,
button,
textarea {
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--background-primary);
}

@media (max-width: 475px) {
  html {
    font-size: 50%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
  background: var(--background-secondary);
}
