.container {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;

  p {
    font-size: 1.55rem;
    color: var(--text-secondary);
  }

  span {
    font-size: 1.35rem;
    color: var(--text-secondary);
  }
}

.header {
  h1 {
    color: var(--text-primary);
    font-size: 2.6rem;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 1.7rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.pagination_item {
  height: 4rem;
  width: 4rem;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-secondary);
  border-radius: 0.25rem;
  color: var(--text-primary);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: var(--primary-color);
    color: var(--text-white);
  }
}

.pagination_item.selected {
  background: var(--primary-color);
  color: var(--text-white);
}

@media (max-width: 390px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
