.button {
  position: fixed;
  right: 1.25rem; /* 2rem(10) = 20px → 20 ÷ 16 */
  bottom: 1.25rem; /* idem */

  height: 3rem; /* 4.8rem(10) = 48px → 48 ÷ 16 */
  width: 3rem; /* idem */
  font-size: 0;
  border: 0;
  border-radius: 50%;
  cursor: pointer;

  background: var(--background-secondary);

  svg {
    width: 1.25rem; /* 2rem(10) = 20px → 20 ÷ 16 */
    height: auto;
    color: var(--primary-color);
  }

  &:hover {
    background: var(--primary-color);

    svg {
      color: var(--text-white);
    }
  }

  @media (max-width: 1180px) {
    display: none;
  }
}
