.container {
  scroll-margin-top: 60px;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  h1 {
    font-size: 2.6rem;
    color: var(--text-primary);
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  p {
    font-size: 1.55rem;
    line-height: 3.2rem;
    color: var(--text-secondary);
  }
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 31.5rem;
    height: auto;
    object-fit: contain;
  }
}

@media (max-width: 1084px) {
  .image {
    display: none;
  }
}

@media (max-width: 425px) {
  .container {
    padding: 4rem 0;
  }
}
