.container {
  padding: 12rem 0 6rem 0;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  h1 {
    font-size: 2.6rem;
    color: var(--text-primary);
  }
}

.description {
  p {
    font-size: 1.55rem;
    line-height: 3.2rem;
    color: var(--text-primary);
  }
}
