.container {
  position: relative;
}

.sidebar {
  position: fixed;
  background: var(--background-secondary);
  right: 0;
  top: 0;
  z-index: 15;
  width: 35rem;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.25s ease-in-out;

  .button {
    background: none !important;

    &:hover {
      opacity: 0.85;
    }
  }

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.05);
  }
}

.sidebar.open {
  transform: translateX(0);
}

.sidebarHeader {
  height: 5.8rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 0 1.25rem;
  justify-content: flex-end;

  span {
    font-size: 1.45rem;
    color: var(--text-secondary);
  }
}

.sidebarBody {
  display: flex;
  flex-direction: column;
}

.sidebarItem {
  display: flex;
  align-items: center;
  gap: 1.45rem;
  text-decoration: none;
  padding: 1.85rem 1.25rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  &:hover {
    background: var(--primary-color);
  }

  &.actived {
    background: var(--primary-color);
  }

  img {
    width: 1.75rem;
    height: 1.75rem;
    object-fit: contain;
  }

  span {
    font-size: 1.40rem !important;
    font-weight: 400;
  }
}

.background {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  height: 4rem;
  width: 4rem;
  border-radius: 0.25rem;
  background: var(--background-secondary);
  color: var(--text-primary);
  transition: background 0.25s ease-in-out;
  cursor: pointer;

  &:hover {
    background: var(--primary-color);
  }
}

@media(max-width: 320px) {
  .sidebar {
    width: 100%;
  }
}