.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  font-size: 0;
  height: 4rem;
  width: 4rem;
  border-radius: 0.25rem;
  background: var(--background-secondary);
  color: var(--text-primary);
  cursor: pointer;

  &:hover {
    background: var(--primary-color);
    color: var(--text-white);
  }
}

.modalContent {
  display: flex;
  flex-direction: column;
}

.searchBar {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 0 1.6rem;
  background: var(--background-secondary);

  svg {
    color: rgba(255, 255, 255, 0.15);
  }

  input {
    flex: 1;
    background: 0;
    border: 0;
    outline: 0;
    height: 44px;
    color: var(--text-secondary);
  }

  @media (max-width: 475px) {
    input {
      height: 40px;
    }
  }
}

.searchBarLight {
  svg {
    color: rgba(0, 0, 0, 0.15);
  }
}

.technologiesContainer {
  overflow-y: auto;
  height: 256px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
  }
}

.technologyItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  overflow: hidden;
  padding: 1.2rem;
  text-decoration: none;
  cursor: pointer;

  img {
    width: 1.75rem;
    height: 1.75rem;
    object-fit: contain;
  }

  span {
    font-size: 1.35rem;
    color: var(--text-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.noResults {
  display: flex;
  justify-content: center;

  span {
    font-size: 1.35rem;
    color: var(--text-secondary);
    opacity: 0.5;
    padding: 2.4rem 0;
  }
}
