.container {
  display: flex;
  flex-direction: column;
  background: var(--background-secondary);
  position: relative;
  border-radius: 0.25rem;
  overflow: hidden;

  &:hover {
    .project-image {
      img {
        opacity: 0.75;
      }

      a {
        display: flex;
      }
    }
  }
}

.project-image {
  position: relative;
  height: 22.5rem;

  a {
    position: absolute;
    left: 1rem;
    top: 1rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    text-decoration: none;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 0;
    background: var(--primary-color);
    color: var(--text-white);
    animation: fadeIn 0.2s ease;

    &:hover {
      background: var(--primary-color-hover);
    }
  }
}

.project-body {
  padding: 2.2rem;
  display: flex;
  flex-direction: column;
  position: relative;

  h5 {
    font-size: 1.6rem;
    color: var(--text-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > a {
    display: flex;
    align-self: flex-start;
    font-size: 1.4rem;
    margin: 1.2rem 0 1.6rem 0;
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;

    &:hover {
      color: var(--primary-color-hover);
    }
  }
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;

  a.width {
    max-width: 33%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > button {
    border: 0;
    outline: 0;
    padding: 0.6rem 1rem;
    border-radius: 4px;
    font-size: 1.15rem;
    font-weight: 400;
    color: var(--text-primary);
    background: var(--background-tertiary);
    cursor: pointer;

    &:hover {
      background: var(--primary-color);
      color: var(--text-white);
    }
  }
}

.technology-link {
  padding: 0.6rem 1rem;
  border-radius: 4px;
  font-size: 1.15rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--text-primary);
  background: var(--background-tertiary);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.technologies-drawer {
  position: absolute;
  inset: 0;
  padding: 2.2rem;
  background: var(--background-tertiary);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  z-index: 5;
  transform: translateY(100%);
  transition: transform 0.15s ease;

  &.show-drawer {
    transform: translateY(0);
  }
}

.technologies-drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h5 {
    font-size: 1.4rem;
    color: var(--text-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
  }

  button {
    border: 0;
    background: 0;
    outline: 0;
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #c0392b;
    border-radius: 22px;

    &:hover {
      background: #c0392b;
      color: #fafafa;
    }
  }
}

.technologies-drawer-body {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;

  > a {
    background: var(--background-secondary);
  }
}
