.container {
  padding: 6rem 0;
  scroll-margin-top: 50px;
}

.wrapper {
  width: 100%;
  max-width: 1084px;
  margin: 0 auto;
  padding: 0 3rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  h1 {
    color: var(--text-primary);
    font-size: 2.6rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;

  h1 {
    color: var(--text-primary);
    font-size: 2.6rem;
  }

  p {
    color: var(--text-primary);
    font-size: 1.6rem;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.6rem;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;

  img {
    height: 15rem;
    width: auto;
    object-fit: contain;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  a,
  span {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-primary);
    cursor: pointer;
  }
}

.icon {
  color: var(--primary-color);
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-secondary);
  border-radius: 0.25rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: flex-end;

  width: 100%;

  span {
    font-size: 1.6rem;
    color: var(--text-primary);
    display: block;
    margin-bottom: 1.2rem;
  }

  input {
    width: 100%;
    height: 4.4rem;
    background: var(--background-secondary);
    border: 1px solid transparent;
    outline: 0;
    border-radius: 0.25rem;
    color: var(--text-secondary);
    padding: 0 1.2rem;
    transition: border-color 0.3s ease-in-out;

    &:focus {
      border-color: var(--primary-color-hover);
    }
  }

  textarea {
    width: 100%;
    resize: none;
    background: var(--background-secondary);
    border: 1px solid transparent;
    border-radius: 0.25rem;
    outline: 0;
    padding: 1.2rem;
    color: var(--text-secondary);
    transition: border-color 0.3s ease-in-out;

    &:focus {
      border-color: var(--primary-color-hover);
    }
  }

  button {
    width: 100%;
    border: 0;
    color: var(--text-primary);
    background: var(--primary-color);
    padding: 1.2rem 2.4rem;
    border-radius: 0.25rem;
    cursor: pointer;
    outline: 0;
    transition: background 0.3s ease-in-out;

    &:hover {
      background: var(--primary-color-hover);
    }
  }
}

@media (max-width: 840px) {
  .social {
    display: none;
  }
  
  .row {
    grid-template-columns: 1fr;
  }
  
}