.container {
  position: fixed;
  width: 100%;
  z-index: 10;
  background: var(--background-primary);
  border-bottom: 1px solid var(--divider-color);
}

.main {
  width: 100%;
  max-width: 1084px;
  padding: 0 1.875rem; /* 3rem(10) = 30px → 30 ÷ 16 */
  margin: 0 auto;
  height: 5rem; /* 8rem(10) = 80px → 80 ÷ 16 */
  display: flex;
  justify-content: space-between;
  align-items: center;

  a.logo {
    font-weight: 600;
  }

  a {
    display: flex;
    align-items: center;
    gap: 0.375rem; /* 0.6rem(10) = 6px → 6 ÷ 16 */
    font-size: 0.90625rem; /* 1.45rem(10) = 14.5px → 14.5 ÷ 16 */
    font-weight: 500;
    text-decoration: none;
    color: var(--primary-color);

    svg {
      transition: transform 0.25s ease-in-out;
    }

    &:hover {
      color: var(--primary-color-hover);

      svg {
        transform: translateX(0.125rem); /* 2px → 2 ÷ 16 */
      }
    }
  }

  a.back {
    &:hover {
      svg {
        transform: translateX(-0.125rem); /* -2px → -2 ÷ 16 */
      }
    }
  }
}
