.container {
  position: absolute;
  top: 3rem;
  background: #293140;
  width: 1024px;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;

  nav {
    display: flex;
    align-items: center;
    gap: 4.4rem;

    a {
      font-size: 1.4rem;
      color: #f0f0f5;
      text-decoration: none;
    }
  }
}