.container {
  padding: 6rem 0 6rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.025);
}

.container.paddingHome {
  padding: 6rem 0 10rem 0;
}

.wrapper {
  width: 100%;
  max-width: 1084px;
  margin: 0 auto;
  padding: 0 3rem;

  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  align-items: center;

  h1 {
    color: var(--text-primary);
  }
}

.navbar {
  display: flex;
  gap: 1.6rem;

  a {
    font-size: 1.4rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: color 0.25s ease-in-out;

    &:hover {
      color: var(--primary-color);
    }
  }
}

.social {
  display: flex;
  gap: 1.6rem;

  a {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background: var(--background-secondary);
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
      background: var(--primary-color);
      color: #f0f0f5;
    }
  }
}
