.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;

  padding: 0 1.875rem; /* 3rem = 48px → 48/16 = 3rem */
  padding-top: var(--header-height);
  width: 100%;
  max-width: 67.75rem; /* 1084px → 1084/16 = 67.75rem */
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}
