.container {
}

.main {
  width: 100%;
  max-width: 1084px;
  padding: 0 3rem;
  margin: 0 auto;

  min-height: calc(100vh - 26.7rem); // 100vh - Height Footer // 1px de border top
}

@media (max-width: 365px) {
  .main {
    min-height: calc(100vh - 302.97px);
  }
}
